.tooltip-wrapper {
    width: 1em;
    position: relative;
    left: 0.25em;
    margin: 0.25em 0.25em 0.25em -0.25em;
}
.tooltip-icon {
    width: 1em;
}
.tooltip-wrapper::after {
    position: absolute;
    bottom: 150%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--primary_color);
    color: var(--secondary_color_3);
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms;
    white-space: nowrap;
    content: attr(data-tooltip);
}

.tooltip-wrapper:hover::after {
    opacity: 1;
}