#categories {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    align-items: start;
    gap: 1em;
}
#categories ul {
    list-style-type: disc;
}
#categories .item ul {
    margin-left: 3em;
}